* {
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    color: white;
    margin-top: 3vh;
}
.container{
    width: 100%;
    max-width: 1200px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
    margin: 0px 20px 0px 20px;
    transition: 0.5s ease;
}
li::after {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(255, 230, 0);
    transform-origin: 0%;
    transform: scale(0);
}
li:hover::after {
    transform: scale(1);
}
/* BANNER */
.banner {
    background-image: url(/img/background.png);
    width: 100%;
    height: 1000px;
}